@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #ffe7c7;
}

#forum {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr;
}

#feed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#uiToast {
  color: white;
  background-color: #9b6c43;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 1rem;
}
#paiIuToast {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 5px;
}
