/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer; /* Makes it look clickable */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: -5px; /* Position above the tooltip container */
  left: 105%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0; /* Start with hidden */
  transition: opacity 0.3s, visibility 0.3s; /* Fade-in effect */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; /* Show the tooltip */
}
/* .tooltip .tooltiptext {
  top: -5px;
  left: 105%;
} */
